.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 30px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}